<h1 style="text-align: center;">About</h1>

<div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 75%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{user['avatar_url']}}" id="picture" />
        </div>
        <div class="col-md-8">
            <p class="card-text">
                Armando Magana is a skilled associate software developer that brings to the team a collaborative
                attitude, debugging and problem solving skills. Armando has a Bachelor's degree in computer science from
                the university of memphis. He has experience working with Jenkins, AWS, Terraform, spring, and Java and
                has knowledge on spring boot, node, JPA, JDBC, Git, and angular.
            </p>
        </div>
    </div>
</div>