<h1 style="text-align: center;">Contact</h1>
<table class="table" style="width: 75%; margin-left: auto; margin-right: auto;">
    <tbody>
        <tr>
            <th scope="row" style="text-align: right; width: 50%;">Email:</th>
            <td><a href="mailto:armando.magana52@gmail.com">armando.magana52&#64;gmail.com</a></td>            
        </tr>
        <tr>
            <th scope="row" style="text-align: right; width: 40%;">Linkedin:</th>
            <td><a href="https://www.linkedin.com/in/armando-magana-019476104/">Linkedin</a></td>            
        </tr>
    </tbody>
</table>
